{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<div class="card">
	<div class="card-header bg-dark text-white">
        <h2>Informe seus dados de cadastro</h2>
    </div>
    <div class="card-body">
        <form class="pure-form pure-form-aligned" method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}

                {% for field in form %}
                <div class="pure-control-group">
                    <label for="{{ field.name }}">{{ field.label_tag }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Entrar</button>
                </div>
            </fieldset>
            <p>
                Não é cadastrado? Cadastre-se como<a href="{% url 'cadastrar' 0 %}" title=""> aluno</a> ou como<a href="{% url 'cadastrar' 1 %}" title=""> professor</a><br />
                Esqueceu a senha? <a href="" title="">Nova senha</a> <br />
            </p>
        </form>
    </div>
</div>
{% endblock %}