{% extends "base.html" %}
{% load static %}

{% block title %}Fórum{% endblock %}

{% block javascript %}
<script src="https://cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
{% endblock %}

{% block content %}
	<div class="card cardEspecial">
		<div class="card-header bg-dark text-white">
			<h1>{{topic.name}}</h1>
		</div>
		<div class="card-body">
			<div class="card cardEspecial">
				<div class="card-header bg-dark text-white">
					<h5>Por {{ topic.author }} em {{topic.created_at}}</h5>
				</div>
				<div class="card-body">
					<p>
						{{topic.body|safe}}
					</p>					
				</div>
			</div>
			<h2>Respostas</h2>
			{% for reply in replies %}
			<div class="card cardEspecial">
				<div class="card-header bg-dark text-white">
					<h5>Por {{ reply.author }} em {{reply.created_at}}</h5>
				</div>
				<div class="card-body">
					<p>
						{{reply.reply|safe}}
					</p>					
				</div>
			</div>
			{% endfor %}
			<div class="card cardEspecial">
				<div class="card-header bg-dark text-white">
					<h5>Responder</h5>
				</div>
				<div class="card-body">
					<form method="post">
		            {% csrf_token %}
			            <fieldset>
		                {{ form.non_field_errors }}
						{% for field in form %}
			                <div class="form-group">
			                    <label for="{{ field.name }}">{{ field.label_tag }}</label>
			                    {{ field }}
			                    {{ field.errors }}
			                </div>
			            {% endfor %}
			            <div class="pure-controls">
			            	<button type="submit" class="pure-button pure-button-primary">Enviar</button>
			            	<a href="{% url 'forum' topic.turma_id.pk %}" class="btn btn-danger">Voltar</a>
			            </div>
				        </fieldset>
			    	</form>
		        </div>
		    </div>
		</div>
	</div>

<script>
    CKEDITOR.plugins.addExternal('ckeditor_wiris', 'https://www.wiris.net/demo/plugins/ckeditor/', 'plugin.js');
    CKEDITOR.plugins.addExternal('youtube', '{% static "youtube/plugin.js" %}');
    CKEDITOR.replace('reply', {
          extraPlugins: 'ckeditor_wiris,youtube',
          toolbar: [
            ['Cut', 'Copy', 'Paste', 'PasteText', '-', 'Undo', 'Redo', '-', 'Find', 'Replace', '-', 'SelectAll', 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', '-', 'RemoveFormat', '-', 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'Link', 'Unlink', 'Anchor',  'Image', 'Youtube', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'Iframe', '-', 'TextColor', 'BGColor', 'ckeditor_wiris_formulaEditor','ckeditor_wiris_formulaEditorChemistry','Styles', 'Format', 'Font', 'FontSize']
          ]
        });
</script>
{% endblock %}