{% extends "base.html" %}
{% load static %}

{% block title %}Fórum{% endblock %}

{% block javascript %}
<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
{% endblock %}

{% block content %}
	<div class="card cardEspecial">
		<div class="card-header bg-dark text-white">
			<h1>{{topic.name}}</h1>
		</div>
		<div class="card-body">
			<div class="card cardEspecial">
				<div class="card-header bg-dark text-white">
					<h5>Por {{ topic.author }} em {{topic.created_at}}</h5>
				</div>
				<div class="card-body">
					<p>
						{{topic.body|safe}}
					</p>					
				</div>
			</div>
			<h2>Respostas</h2>
			{% for reply in replies %}
			<div class="card cardEspecial">
				<div class="card-header bg-dark text-white">
					<h5>Por {{ reply.author }} em {{reply.created_at}}</h5>
				</div>
				<div class="card-body">
					<p>
						{{reply.reply|safe}}
					</p>					
				</div>
			</div>
			{% endfor %}
			<div class="card cardEspecial">
				<div class="card-header bg-dark text-white">
					<h5>Responder</h5>
				</div>
				<div class="card-body">
					<form method="post">
		            {% csrf_token %}
			            <fieldset>
		                {{ form.non_field_errors }}
						{% for field in form %}
			                <div class="form-group">
			                    <label for="{{ field.name }}">{{ field.label_tag }}</label>
			                    {{ field }}
			                    {{ field.errors }}
			                </div>
			            {% endfor %}
			            <button type="submit" class="pure-button pure-button-primary">Enviar</button>
				        </fieldset>
			    	</form>
		        </div>
		    </div>
		</div>
	</div>

<script>
    CKEDITOR.plugins.addExternal('ckeditor_wiris', 'https://www.wiris.net/demo/plugins/ckeditor/', 'plugin.js');
    CKEDITOR.replace('reply', { customConfig: '{% static "ckeditor/custom_config.js" %}'});
</script>
{% endblock %}