<!doctype html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Simple MOOC - Uma simples plataforma de ensino a distância" />
	<title>{% block title %}{% endblock %}</title>
	{% block css %}{% endblock %}
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body style="background-color: #F0F0F0;">

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand abs" href="{% url 'home' %}">EUREKA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'usuario' %}">Perfil</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'index' %}">Turmas</a>
            	</li>
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'logout' %}">Sair</a>
	            </li>
	        {% else %}
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'login' %}">Entrar</a>
	            </li>
	        {% endif %}
        </ul>
    </div>
</nav>

<div class="content">
	{% block content %}{% endblock %}
	<div class="footer">
		EUREKA - Descobrindo a Matemática
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</body>
</html>