<!doctype html>
{% load static %}
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	{% block css %}{% endblock %}
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	{% block javascript %}{% endblock %}
</head>
<body style="background-color: #F0F0F0;">

<nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
    <a class="navbar-brand abs" href="{% url 'home' %}">EUREKA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        
        {% if user.is_authenticated %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Início</a>
        	</li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'usuario' %}">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
            </li>
        </ul>

		{% endif %}
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            	<li>
            	<form action="{% url 'buscar' %}" method="POST">
					{% csrf_token %}
					<input type="search" placeholder="Buscar" name="buscar">
				</form>
				</li>
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'logout' %}">Sair</a>
	            </li>
	        {% else %}
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'login' %}">Entrar</a>
	            </li>
	        {% endif %}
        </ul>
    </div>
</nav>

<div class="content">

	{% for message in messages %}
		<div class="alert {% if message.level == 40 %}alert-danger{% elif message.level == 25 %}alert-success{% endif %} alert-dismissible" role="alert">
  			<a href="#" class="close" data-dismiss="alert" aria-label="Fechar">&times;</a>
        	<p>{{message}}</p>
        </div>
    {% endfor %}

	{% block content %}{% endblock %}
	<div class="footer bg-dark text-white">
		EUREKA - Descobrindo a Matemática
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
</body>
</html>