{% extends "base.html" %}
{% load version %}
{% load static %}
{% block title %}Eureka - Turmas{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
{% endblock %}
{% block content %}

{% if user.user_type == 'PROFESSOR' %}

<!-- <div class="card">
	<div class="card-header bg-blue text-white">
		Buscar
	</div>
	<div class="card-body">
		Busque pelo nome de sua turma para encontrá-la com mais facilidade
		<form method="POST">
			{% csrf_token %}
			<input type="text" name="search" placeholder="Encontrar uma turma..." class="searchbar">
			<input type="submit" value="Buscar" class="btn btn-success"/>
		</form>
	</div>
</div> -->

<div class="card">
	<div class="card-header bg-dark text-white">
		{% if user.gender == 'MASCULINO' %}
            Bem-vindo {{user.name}}!
        {% elif user.gender == 'FEMININO' %}
            Bem-vinda {{user.name}}!
        {% endif %}
	</div>
	<div class="card-body">
		<div>
			<button class="btn bg-green text-white" id="btn_turmas">Minhas turmas</button>
			<button class="btn bg-blue text-white" id="btn_conteudos">Meus Conteúdos</button>
		</div>
		
		<div class="card" id="tabela_turmas">
			<div class="card-header bg-green text-white">
				Minhas turmas
			</div>
			<div class="card-body">
				{% for turma in turmas %}
					<div class="card">
						<div class="card-header bg-green text-white">
							{{ turma.name }}
						</div>
						<div class="card-body">
							Professor: {{ turma.responsible }}<br>
							Tipo: {{ turma.get_course_type_display }}<br>
							Atualizado pela última vez em: {{ turma.updated_at }}<br><br>
							<a href="{% url 'turma' turma.pk %}" class="btn btn-success">Acessar Turma</a>
						</div>
					</div>
				{% empty %}
						Nenhuma Turma disponível... <br>
						<br>
				{% endfor %}
				<a href="{% url 'criar_turma' user.pk %}" class="btn bg-green text-white">Nova turma</a>
			</div>
		</div>		

		<div class="card" id="tabela_conteudos">
			<div class="card-header bg-blue text-white">
				Meus conteúdos
			</div>
			<div class="card-body">
				{% for tema in temas %}
				<div class="card">
					<div class="card-header bg-blue text-white">
						{{ tema.name }}
						<a href="{% url 'excluir_tema' tema.pk %}" class="close text-white" aria-label="Excluir tema">&times;</a>
					</div>
					<div class="card-body">
						Professor: {{ tema.responsible }}<br>
						Atualizado pela última vez em: {{ tema.updated_at }}<br>
						<br>
						<a href="{% url 'tema' tema.pk %}" class="btn btn-primary">Acessar Conteúdo</a>
					</div>
				</div>
				{% empty %}
					Nenhum conteúdo disponível...<br>
					<br>
				{% endfor %}
				<a href="{% url 'criar_tema' 0 %}" class="btn bg-blue text-white">Novo conteúdo</a>
			</div>
		</div>
	</div>
</div>


{% else %}

<!-- <div class="card">
	<div class="card-header bg-blue text-white">
		{% if user.gender == 'MASCULINO' %}
		Bem-vindo {{user.name}}!
		{% elif user.gender == 'FEMININO' %}
		Bem-vinda {{user.name}}
		{% endif %}
	</div>
	<div class="card-body">
		Busque pelo nome de sua turma para encontrá-la com mais facilidade ou procure por novas turmas para se registrar
		<form method="POST">
			{% csrf_token %}
			<input type="text" name="search" placeholder="Encontrar uma turma..." class="searchbar">
			<input type="submit" value="Buscar" class="btn btn-success"/>
		</form>
	</div>
</div> -->

<div class="card">
	<div class="card-header bg-dark text-white">
		{% if user.gender == 'MASCULINO' %}
            Bem-vindo {{user.name}}!
        {% elif user.gender == 'FEMININO' %}
            Bem-vinda {{user.name}}!
        {% endif %}
	</div>
	<div class="card-body">
		<div>
			<button class="btn bg-green text-white" id="btn_minhas_turmas">Minhas turmas <img src="{% static 'img/help-xxl.png' %}"title="Todas as turmas em que você está matriculado estão listadas aqui." width="16" height="16"></button>
			<button class="btn bg-green text-white" id="btn_outras_turmas">Outras turmas públicas <img src="{% static 'img/help-xxl.png' %}"title="Todas as turmas públicas presentes na plataforma estão listadas aqui. Você pode se inscrever naquelas que tiver mais interesse." width="16" height="16"></button>
		</div>
		<br>
		<div class="card" id="tabela_minhas_turmas">
			<div class="card-header bg-green text-white">
				Minhas turmas
			</div>
			<div class="card-body">
				{% for matricula in matriculas %}
	                <div class="card">
						<div class="card-header bg-green text-white">
							{{ matricula.turma_id }}
						</div>
						<div class="card-body">
							Professor: {{matricula.turma_id.responsible}}<br>
							Tipo: {{matricula.turma_id.get_course_type_display}}<br>
							Atualizado pela última vez em: {{matricula.turma_id.updated_at}}<br><br>
							<a href="{% url 'turma' matricula.turma_id.pk %}" class="btn btn-success">Acessar Turma</a>
						</div>
					</div>
	            {% empty %}
	                Nenhuma turma disponível... <br>
	            {% endfor %}
	        </div>	            
		</div>

		<div class="card" id="tabela_outras_turmas">
			<div class="card-header bg-green text-white">
				Outras turmas públicas
			</div>
			<div class="card-body">
				{% for turma in turmas_publicas %}
					<div class="card">
						<div class="card-header bg-blue text-white">
							{{ turma.name }}
						</div>
						<div class="card-body">
							Professor: {{ turma.responsible }}<br>
							Tipo: {{ turma.get_course_type_display }}<br>
							Atualizado pela última vez em: {{ turma.updated_at }}<br><br>
							<a href="{% url 'matricula' turma.pk %}" class="btn btn-success">Inscrever-se</a>
						</div>
					</div>
				{% empty %}
					Nenhuma outra turma disponível...
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endif %}



<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}