{% extends "base.html" %}
{% load version %}
{% block title %}Eureka - Turmas{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
{% endblock %}
{% block content %}
<div class="card">
	<div class="card-header bg-dark text-white">
		{% if user.gender == 'MASCULINO' %}
		Bem-vindo {{user.name}}!
		{% elif user.gender == 'FEMININO' %}
		Bem-vinda {{user.name}}
		{% endif %}
	</div>
	<div class="card-body">
		Busque pelo nome de sua turma para encontrá-la com mais facilidade
		{% if user.user_type == 'ALUNO' %}
		ou procure por novas turmas para se registrar
		{% endif %}
		<form method="POST">
			{% csrf_token %}
			<input type="text" name="search" placeholder="Encontrar uma turma..." class="searchbar">
			<input type="submit" value="Buscar" class="btn btn-dark"/>
		</form>
	</div>
</div>
<div class="card">
	<div class="card-header bg-dark text-white">
		Minhas turmas
	</div>
	<div class="card-body">
		<table class="table">
			<thead class="bg-dark text-white">
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Professor</th>
					<th scope="col">Tipo</th>
					<th scope="col">Última Atualização</th>
				</tr>
			</thead>
			<tbody>
				{% if user.user_type == 'ALUNO' %}
					{% load_my_courses user as matriculas %}
					{% for matricula in matriculas %}
		                <tr>
		                    <td><a href="{% url 'turma' matricula.turma_id.pk %}">{{ matricula.turma_id }}</a></td>
		                    <td> {{matricula.turma_id.responsible}} </td>
		                    <td> {{matricula.turma_id.get_course_type_display}} </td>
		                    <td> {{matricula.turma_id.updated_at}} </td>
		                </tr>
	                {% empty %}
		                <tr>
		                    <td>Nenhuma turma disponível...</td>
		                </tr>
	                {% endfor %}
	            {% else %}
	            	{% for turma in turmas %}
		            	<tr>
							<td><a href="{% url 'turma' turma.pk %}">{{ turma.name }}</a></td>
							<td>{{ turma.responsible }}</td>
							<td>{{ turma.get_course_type_display }}</td>
							<td>{{ turma.updated_at }}</td>
						</tr>
					{% empty %}
						<tr>
							<td>Nenhuma Turma disponível</td>
						</tr>
					{% endfor %}
	            {% endif %}
			</tbody>
		</table>
		{% if user.user_type == 'PROFESSOR' %}
		<a href="{% url 'criar_turma' user.pk %}" class="btn bg-dark text-white">Nova turma</a>
		{% endif %}		
	</div>
</div>


{% if user.user_type == 'ALUNO' %}
<div class="card">
	<div class="card-header bg-dark text-white">
		Outras turmas públicas
	</div>
	<div class="card-body">
		<table class="table">
			<thead class="bg-dark text-white">
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Professor</th>
					<th scope="col">Última Atualização</th>
					<th scope="col" style="width: 10%;"></th>
				</tr>
			</thead>
			<tbody>
				{% for turma in turmas_publicas %}
				<tr>
					<td><a href="{% url 'turma' turma.pk %}">{{ turma.name }}</a></td>
					<td>{{ turma.responsible }}</td>
					<td>{{ turma.updated_at }}</td>
					<td><a href="{% url 'matricula' turma.pk %}" class="btn bg-dark text-white">Inscrever-se</a></td>
				</tr>
				{% empty %}
				<tr>
					<td>Nenhuma outra turma disponível...</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
{% endblock %}