{% extends "base.html" %}
{% block title %}Sobre{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
{% endblock %}
{% block content %}
    <div class="card cardEspecial">
        <div class="card-header bg-dark text-white">
            <h1>Sobre</h1>
        </div>
        <div class="card-body">
            <img src="https://i.imgur.com/nCvrMxL.jpg" style="max-width:200px; margin-left: 10px;" align="right">
            <p>Projeto de conclusão do curso de Bacharelado em Ciência da Computação de Diego Brian Coelho Leite</p>
            <h4>Links</h4>
            <ul>
                <li>E-mail: <a href="mailto:diegobleite@hotmail.com">diegobleite@hotmail.com</a></li>
                <li>Github: <a href="https://github.com/DiegoBrian/Eureka">Eureka</a></li>
            </ul>
        </div>
    </div>
{% endblock %}