{% extends "base.html" %}
{% block title %}Sobre{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
     <div class="card" style="margin-left: 10px;margin-right: 10px;margin-top: 10px; margin-bottom: 10px;">
        <div class="card-header bg-dark text-white">
            <h1 style="margin-top: 0px;margin-bottom: 0px;">Sobre</h1>
        </div>
        <div class="card-body">
            <p>Projeto de conclusão do curso de Bacharelado em Ciência da Computação de Diego Brian Coelho Leite</p>
            <h4>Links</h4>
            <ul>
                <li>E-mail: <a href="mailto:diegobleite@hotmail.com">diegobleite@hotmail.com</a></li>
                <li>Github: <a href="https://github.com/DiegoBrian/Eureka">Eureka</a></li>
            </ul>
        </div>
    </div>
    </div>
    </div>
{% endblock %}