{% extends "base.html" %}
{% block title %}{{tema.name}}{% endblock %}
{% block javascript %}

{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header bg-dark text-white">
        {% if user.gender == 'MASCULINO' %}
            Bem-vindo {{user.name}}!
        {% elif user.gender == 'FEMININO' %}
            Bem-vinda {{user.name}}!
        {% endif %}
        Você está vendo conteúdo sobre {{tema.name}}!
    </div>
    <div class="card-body">
        	<textarea></textarea>
    </div>
</div>

{% endblock %}
