{% extends "base.html" %}
{% block title %}{{turma.name}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
{% endblock %}
{% block content %}
	<div class="card">
        <div class="card-header bg-dark text-white">
            {% if turma.responsible.gender == 'MASCULINO' %}
                Bem-vindo {{user.name}}! Você está na turma {{turma.name}} do professor {{turma.responsible}}!
            {% else %}
                Bem-vindo {{user.name}}! Você está na turma {{turma.name}} da professora {{turma.responsible}}!
            {% endif %}
        </div>
        <div class="card-body">
            <input type="text" placeholder="Encontrar um assunto..." class="searchbar">
            <a href="#" class="btn bg-dark text-white">Pesquisar</a>
        </div>
    </div>

	<div class="card">
        <div class="card-header bg-dark text-white">
            Temas
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">Nome</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tema in temas %}
                    <tr>
                        <td><a href="{% url 'tema' tema.pk %}">{{ tema.name }}</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>Nenhum conteúdo disponível...</td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>
            <a href="#" class="btn bg-dark text-white">Novo tema</a>
        </div>
    </div>
    
{% endblock %}