{% extends "base.html" %}
{% block title %}Cards{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
	<div class="card">
        <div class="card-header bg-dark text-white">
            Bem-vindo Diego! Você está na turma A da professora Letícia!
        </div>
        <div class="card-body">
            <input type="text" placeholder="Encontrar uma aula, exercício, experimintação..." class="searchbar">
            <a href="#" class="btn bg-dark text-white">Pesquisar</a>
        </div>
    </div>

	<div class="card">
        <div class="card-header bg-dark text-white">
            Aulas
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn bg-dark text-white">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-dark text-white">
            Exercícios
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn bg-dark text-white">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-dark text-white">
            Experimentação
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn bg-dark text-white">Go somewhere</a>
        </div>
    </div>
{% endblock %}