{% extends "base.html" %}
{% block title %}{{turma.name}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
{% endblock %}
{% block content %}
	<div class="card">
        <div class="card-header bg-dark text-white">
            {% if turma.responsible.gender == 'MASCULINO' %}
                Bem-vindo Diego! Você está na turma {{turma.name}} do professor {{turma.responsible}}!
            {% else %}
                Bem-vindo Diego! Você está na turma {{turma.name}} da professora {{turma.responsible}}!
            {% endif %}
        </div>
        <div class="card-body">
            <input type="text" placeholder="Encontrar uma aula, exercício, experimintação..." class="searchbar">
            <a href="#" class="btn bg-dark text-white">Pesquisar</a>
        </div>
    </div>

	<div class="card">
        <div class="card-header bg-dark text-white">
            Aulas
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">Tema</th>
                        <th scope="col">Última Atualização</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aula in aulas %}
                    <tr>
                        <td><a href="{% url 'aula' aula.pk %}">{{ aula.topic }}</a></td>
                        <td>{{ aula.updated_at }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>Nenhuma aula disponível...</td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>
            <a href="#" class="btn bg-dark text-white">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-dark text-white">
            Exercícios
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">Tema</th>
                        <th scope="col">Última Atualização</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exercicio in exercicios %}
                    <tr>
                        <td><a href="#">{{ exercicio.topic }}</a></td>
                        <td>{{ exercicio.updated_at }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>Nenhum exercício disponível...</td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>
            <a href="#" class="btn bg-dark text-white">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-dark text-white">
            Experimentação
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">Tema</th>
                        <th scope="col">Última Atualização</th>
                    </tr>
                </thead>
                <tbody>
                    {% for experimentacao in experimentacoes %}
                    <tr>
                        <td><a href="#">{{ experimentacao.topic }}</a></td>
                        <td>{{ experimentacao.updated_at }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>Nenhuma experimentação disponível...</td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>
            <a href="#" class="btn bg-dark text-white">Go somewhere</a>
        </div>
    </div>
{% endblock %}