{% extends "base.html" %}
{% load version %}

{% block title %}Usuário: {{user}}{% endblock %}

{% block content %}
<div class="card cardEspecial">
    <div class="card-header bg-dark text-white">
        <h1>Perfil do Usuário</h1>
    </div>
    <div class="card-body">
        <div class="pure-u-1">
            <ul class="breadcrumb">
                {% block breadcrumb %}
                <li><a href="{% url 'usuario' %}">Meu Painel</a></li>
                {% endblock %}
            </ul>
        </div>
        <div>
            {% block dashboard_content %}
                <div class="card cardEspecial">
                    <div class="card-header bg-dark text-white">
                        <h1>Minhas turmas</h1>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th scope="col">Turma</th>
                                    <th scope="col" style="width: 20%">Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if user.user_type == 'ALUNO' %}
                                {% load_my_courses user as matriculas %}
                                {% for matricula in matriculas %}
                                    <tr>
                                        <td><a href="{% url 'turma' matricula.turma_id.pk %}">{{ matricula.turma_id }}</a></td>
                                        <td> {{matricula.turma_id.responsible}} </td>
                                        <td> {{matricula.turma_id.get_course_type_display}} </td>
                                        <td> {{matricula.turma_id.updated_at}} </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>Nenhuma turma disponível...</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                {% for turma in turmas %}
                                    <tr>
                                        <td><a href="{% url 'turma' turma.pk %}">{{ turma }}</a></td>
                                        <td><a href="{% url 'desmatricular' turma.pk %}" class="btn btn-danger">Desinscrever-se</a></td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>Nenhuma Turma disponível</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                          </tbody>
                        </table>
                    </div>
                </div>

                <form action="{% url 'editar_usuario' %}" style="display:inline-block;">
                    <input type="submit" value="Editar usuário" class="btn btn-dark"/>
                </form>
                <form action="{% url 'editar_senha' %}" style="display:inline-block;">
                    <input type="submit" value="Editar senha" class="btn btn-dark"/>
                </form>
            {% endblock %}
            <!-- Modal Download DOC/PDF-->
            <div class="modal fade" id="chooseDocPdfModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p class="lead m-0">Do you want to download the lesson in PDF or Word format?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btn_download_word">Download Word</button>
                            <button type="button" class="btn btn-primary" id="btn_download_pdf">Download PDF</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}