{% extends "base.html" %}
{% load version %}

{% block title %}Usuário: {{user}}{% endblock %}

{% block content %}
<div class="card cardEspecial">
    <div class="card-header bg-dark text-white">
        <h1>Perfil do Usuário</h1>
    </div>
    <div class="card-body">
        <div class="pure-u-1">
            <ul class="breadcrumb">
                {% block breadcrumb %}
                <li><a href="{% url 'usuario' %}">Meu Painel</a></li>
                {% endblock %}
            </ul>
        </div>
        <div>
            Minhas Turmas
            <ul>
                {% load_my_courses user as matriculas %}
                {% for matricula in matriculas %}
                    <li><a href="#">{{matricula.turma_id}}</a></li>
                {% empty %}
                    <li><a href="#">Nenhuma turma a exibir</a></li>
                {% endfor %}
            </ul>
            Minha Conta
            <ul>
                <li><a href="{% url 'editar_usuario' %}">Editar Conta</a></li>
                <li><a href="{% url 'editar_senha' %}">Editar Senha</a></li>
            </ul>
        </div>
        <div>
            {% block dashboard_content %}
            <p><strong>Usuário</strong>: {{ user }}</p>
            <p><strong>E-mail</strong>: {{ user.email }}</p>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}