{% extends "base.html" %}
{% load version %}
{% block title %}{{aula.name}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
{% endblock %}
{% block javascript %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock %}
{% block content %}
	<div class="card cardEspecial">
        <div class="card-header bg-dark text-white">
            <h1>{{aula.name}}</h1>
        </div>
        <div class="card-body">
            {% if aula.visual_content %}
            <div class="embed-responsive embed-responsive-16by9">{{aula.visual_content|youtube|safe}}</div>
            {% endif %}
            <div>
            {% for material in materiais %}
                Materiais:<br>
                <a href="{{material.image.url}}">{{material.description}}</a><br>
            {% endfor %}
            <br>
            </div>
            <div>{{aula.text_content|safe}}</div> <br>
            {% if not user|aula_concluida:aula.pk and user.user_type == 'ALUNO' %}
            <a href="{% url 'finalizar_aula' pk=aula.pk %}" class="btn btn-success">Finalizar aula</a>
            {% endif %}
            {% if user.user_type == 'PROFESSOR' %}
            <a href="{% url 'adicionar_material' aula.pk 'aula' %}" class="btn btn-success">Adicionar material</a>
            {% endif %}
            <a href="{% url 'turma' aula.turma_id.pk %}" class="btn btn-danger">Voltar</a>
		    </div>
		    
        </div>
    </div>
{% endblock %}