{% extends "base.html" %}
{% load version %}
{% block title %}{{aula.name}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
{% endblock %}
{% block content %}
	<div class="card cardEspecial">
        <div class="card-header bg-dark text-white">
            <h1>{{aula.name}}</h1>
        </div>
        <div class="card-body">
            <div class="embed-responsive embed-responsive-16by9">{{aula.visual_content|youtube|safe}}</div>
            {% for material in materiais %}
            	<div>O nome do material é: <a href="{{material.file}}">{{material.name}}</a></div>
            {% endfor %}
            <div>{{aula.text_content}}</div>
            <div style="margin-top: 2%;">
		        <form action="#" style="display:inline-block;">
		            <input type="submit" value="Finalizar aula" class="btn btn-dark"/>
		        </form>
		        <form action="#" style="display:inline-block;">
		            <input type="submit" value="Exercícios" class="btn btn-dark"/>
		        </form>
		        <form action="#" style="display:inline-block;">
		            <input type="submit" value="Exeperimentação" class="btn btn-dark"/>
		        </form>
		    </div>
		    <a href="{% url 'forum' content='cla' pk=aula.pk %}" >Acessar o fórum de dúvidas</a>
        </div>
    </div>
{% endblock %}