{% extends "base.html" %}
{% load version %}
{% block title %}{{aula.name}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
{% endblock %}
{% block content %}
	<div class="card">
        <div class="card-header bg-dark text-white">
            Experimentando
        </div>
        <div class="card-body">
            {% for conteudo in conteudos %}
                <div class="card">
                    {% if user|conteudo_concluida:conteudo.pk %}
                    <div class="card-header bg-success text-white">
                    {% else %}
                    <div class="card-header bg-primary text-white">
                    {% endif %}
                        {{ conteudo.name }}
                        {% if user.user_type == 'PROFESSOR' %}
                            <a href="{% url 'excluir_conteudo' conteudo.pk %}" class="close text-white" aria-label="Excluir conteúdo">&times;</a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        Atualizado pela última vez em {{ conteudo.updated_at }}<br><br>
                        {% if user|conteudo_concluida:conteudo.pk %}
                        <a href="{% url 'conteudo' conteudo.pk %}" class="btn btn-success">Ver conteúdo</a>
                        {% else %}
                        <a href="{% url 'conteudo' conteudo.pk %}" class="btn btn-primary">Ver conteúdo</a>
                        {% endif %}
                        
                    </div>
                </div>
            
            {% empty %}
                Nenhum conteúdo disponível...<br><br>
            {% endfor %}
            {% if user.user_type == 'PROFESSOR' %}
                <a href="{% url 'criar_conteudo' aula.pk %}" class="btn bg-dark text-white">Nova conteúdo</a>
            {% endif %}
            <a href="{% url 'turma' aula.turma_id.pk %}" class="btn btn-danger">Voltar</a>
        </div>
    </div>
{% endblock %}