{% extends "base.html" %}
{% load version %}
{% load static %}

{% block title %}{{exercicio.name}}{% endblock %}

{% block javascript %}
<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
{% endblock %}

{% block content %}
	<div class="card cardEspecial">
        <div class="card-header bg-dark text-white">
            <h1>{{exercicio.name}}</h1>
        </div>
        <div class="card-body">
            
            {% if pergunta %}
            <div>
            	{% if user.user_type == 'ALUNO' %}
                    <div><b>Questão {{pergunta.number}}</b> {{pergunta.text|safe}}</div>
                    <form method="POST" id="myForm">
                        {% csrf_token %}
                        {% if pergunta.quesion_type == 'FECHADA' %}
                            <div>
                                <input type="radio" value="a" name="answer" id="answer_a">{{pergunta.answer_a}}
                            </div>
                            <div>
                                <input type="radio" value="b" name="answer" id="answer_b">{{pergunta.answer_b}}
                            </div>
                            <div>
                                <input type="radio" value="c" name="answer" id="answer_c">{{pergunta.answer_c}}
                            </div>
                            <div>
                                <input type="radio" value="d" name="answer" id="answer_d">{{pergunta.answer_d}}
                            </div>
                        {% else %}
                            <div>
                                <input name="text" type="textarea">
                                <input type="hidden" id="texto" name="texto">
                            </div>
                            <script>
                                CKEDITOR.plugins.addExternal('ckeditor_wiris', 'https://www.wiris.net/demo/plugins/ckeditor/', 'plugin.js');
                                CKEDITOR.replace('text', {customConfig: '{% static "ckeditor/custom_config.js" %}'});
                            </script>
                        {% endif %}
                        <div style="margin-top: 2%;">
                        {% if pergunta.number == perguntas|length %}
                            <input id="btn-finnish" type="submit" value="Finalizar" class="btn btn-dark"/>
                        {% else %}
                            <input id="btn-next" type="submit" value="Próxima" class="btn btn-dark"/>
                        {% endif %}
                        </div>
                    </form>
                {% else %}
                    {% for perg in perguntas %}
                        <div><b>Questão {{perg.number}}</b> {{perg.text|safe}}</div>
                        {% if perg.quesion_type == 'FECHADA' %}
                    		<div>a) {{perg.answer_a}}</div>
                    		<div>b) {{perg.answer_b}}</div>
                    		<div>c) {{perg.answer_c}}</div>
                    		<div>d) {{perg.answer_d}}</div>
                    	{% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            {% else %}
            <div>
                Nenhuma pergunta para exibir
            </div>
            {% endif %}
            {% if user.user_type == 'PROFESSOR' %}
            <div style="margin-top: 2%;">
                <a href="{% url 'criar_pergunta' exercicio.pk %}" class="btn bg-dark text-white">Nova pergunta</a>
            </div>
            {% endif %}
            
        </div>
    </div>

    
    <script type="text/javascript" src="{% static 'js/exercicio.js' %}"></script>
{% endblock %}