{% extends "base.html" %}
{% load version %}
{% block title %}{{tema.name}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
{% endblock %}
{% block content %}
	<div class="card">
        <div class="card-header bg-dark text-white">
            Experimentação
        </div>
        <div class="card-body">
            {% for experimentacao in experimentacoes %}
                <div class="card">
                    {% if user|experimentacao_concluida:experimentacao.pk %}
                    <div class="card-header bg-success text-white">
                    {% else %}
                    <div class="card-header bg-primary text-white">
                    {% endif %}
                        {{ experimentacao.name }}
                        {% if user.user_type == 'PROFESSOR' %}
                            <a href="{% url 'excluir_experimentacao' experimentacao.pk %}" class="close text-white" aria-label="Excluir experimentação">&times;</a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        Atualizado pela última vez em {{ experimentacao.updated_at }}<br><br>
                        {% if user|experimentacao_concluida:experimentacao.pk %}
                        <a href="{% url 'experimentacao' experimentacao.pk %}" class="btn btn-success">Ver experimentação</a>
                        {% else %}
                        <a href="{% url 'experimentacao' experimentacao.pk %}" class="btn btn-primary">Ver experimentação</a>
                        {% endif %}
                        
                    </div>
                </div>
            
            {% empty %}
                Nenhuma experimentação disponível...<br><br>
            {% endfor %}
            {% if user.user_type == 'PROFESSOR' %}
                <a href="{% url 'criar_experimentacao' aula.pk %}" class="btn bg-dark text-white">Nova experimentação</a>
            {% endif %}
            <a href="{% url 'turma' aula.turma_id.pk %}" class="btn btn-danger">Voltar</a>
        </div>
    </div>
{% endblock %}