{% extends "base.html" %}
{% load version %}
{% block title %}{{tema.name}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
{% endblock %}
{% block content %}
	<!-- <div class="card">
        <div class="card-header text-white" style="background-color: #500000;">
            {% if user.gender == 'MASCULINO' %}
                Bem-vindo {{user.name}}!
            {% elif user.gender == 'FEMININO' %}
                Bem-vinda {{user.name}}!
            {% endif %}
            Você está vendo conteúdo sobre {{tema.name}}!
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="search" placeholder="Encontrar uma aula..." class="searchbar">
                <input type="submit" value="Buscar" class="btn text-white" style="background-color: #500000;"/>
            </form>
        </div>
    </div> -->

    <div class="card">
        <div class="card-header bg-blue text-white">
            {{tema.name}}
        </div>
        <div class="card-body">
            {% for aula in aulas %}
                <div class="card">
                    {% if user|aula_concluida:aula.pk %}
                    <div class="card-header bg-success text-white">
                    {% else %}
                    <div class="card-header bg-primary text-white">
                    {% endif %}
                        {{ aula.name }}
                        {% if user.user_type == 'PROFESSOR' %}
                            <a href="{% url 'excluir_aula' aula.pk %}" class="close text-white" aria-label="Excluir aula">&times;</a><br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {{ aula.summary }}<br><br>
                        Atualizado pela última vez em {{ aula.updated_at }}<br><br>
                        
                        <div>
                            {% if user|aula_concluida:aula.pk %}
                            <a href="{% url 'aula' aula.pk %}" class="btn btn-success">Conteúdo da aula</a>
                            <a href="{% url 'exercicios' aula.pk tema.pk %}" class="btn btn-success">Exercícios</a>
                            <a href="{% url 'experimentacoes' aula.pk tema.pk %}" class="btn btn-success">Experimentações</a>
                            {% else %}
                            <a href="{% url 'aula' aula.pk %}" class="btn btn-primary">Conteúdo da aula</a>
                            <a href="{% url 'exercicios' aula.pk tema.pk %}" class="btn btn-primary">Exercícios</a>
                            <a href="{% url 'experimentacoes' aula.pk tema.pk %}" class="btn btn-primary">Experimentações</a>
                            {% endif %}
                            <br>
                            <br>
                            {% if user.user_type == 'PROFESSOR' and not aula.pk|tem_experimentacao %}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="Fechar">&times;</a>
                                <p>Você ainda não mostrou ao seu aluno como utilizar os conhecimentos dessa aula em aplicações da vida real. Que tal criar uma nova experimentação?</p>
                            </div>
                            {% elif user.user_type == 'ALUNO' and not user|fez_experimentacao:aula.pk %}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="Fechar">&times;</a>
                                <p>Você ainda não viu como utilizar os conhecimentos dessa aula em aplicações da vida real. Que tal realizar uma experimentação?</p>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            {% empty %}
                Nenhuma aula disponível...<br><br>
            {% endfor %}
            {% if user.user_type == 'PROFESSOR' %}
                <br>
                <a href="{% url 'criar_aula' tema.pk %}" class="btn bg-blue text-white">Nova aula</a>
            {% endif %}
            <button class="btn btn-danger" onclick="goBack()">Voltar</button>
        </div>
    </div>
    
{% endblock %}