{% extends "base.html" %}
{% block title %}{{turma.name}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
{% endblock %}
{% block content %}
	<div class="card">
		<div class="card-header bg-dark text-white">
			{% if user.gender == 'MASCULINO' %}
				Bem-vindo {{user.name}}!
			{% elif user.gender == 'FEMININO' %}
				Bem-vinda {{user.name}}
			{% endif %}
			{% if turma.responsible.gender == 'MASCULINO' %}
				Você está na turma {{turma.name}} do professor {{turma.responsible}}!
			{% else %}
				Você está na turma {{turma.name}} da professora {{turma.responsible}}!
			{% endif %}
		</div>
		<div class="card-body">
			Busque por um assunto para encontrá-lo com mais facilidade
			<form method="post" action="/turma/">
			{% csrf_token %}
			<input type="text" name="search" placeholder="Encontrar um assunto..." class="searchbar">
			<a type="submit" class="btn bg-dark text-white">Buscar</a>
		</form>
		</div>
	</div>

	<div class="card">
		<div class="card-header bg-dark text-white">
			Temas
		</div>
		<div class="card-body">
			<div class="card-deck" style="margin-bottom: 1%;">
				{% for tema in temas %}
					<div class="card">
						<div class="card-body">
							<p class="card-text" style="text-align: center;"><a href="{% url 'tema' tema.pk %}">{{ tema.name }}</p>
						</div>
					</div>
			{% if forloop.counter|divisibleby:4 %}
				</div>
				<div class="card-deck" style="margin-bottom: 1%;">
			{% endif %}
				{% empty %}
					<p>Nenhum conteúdo disponível...</p>
				{% endfor %}

			</div>
		
			{% if user.user_type == 'PROFESSOR' %}
				<a href="{% url 'criar_tema' turma.pk %}" class="btn bg-dark text-white">Novo tema</a>
			{% endif %}
		</div>
	</div>
	
{% endblock %}