{% extends "base.html" %}
{% block title %}{{turma.name}}{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
{% endblock %}
{% block content %}
	<div class="card">
		<div class="card-header bg-dark text-white">
			{% if user.gender == 'MASCULINO' %}
				Bem-vindo {{user.name}}!
			{% elif user.gender == 'FEMININO' %}
				Bem-vinda {{user.name}}
			{% endif %}
			{% if turma.responsible.gender == 'MASCULINO' %}
				Você está na turma {{turma.name}} do professor {{turma.responsible}}!
			{% else %}
				Você está na turma {{turma.name}} da professora {{turma.responsible}}!
			{% endif %}
		</div>
		<div class="card-body">
			Busque por um assunto para encontrá-lo com mais facilidade
			<form method="POST">
				{% csrf_token %}
				<input type="text" name="search" placeholder="Encontrar um assunto..." class="searchbar">
				<input type="submit" value="Buscar" name="btnsearch" class="btn btn-dark"/>
			</form>
		</div>
	</div>

	<div class="card">
		<div class="card-header bg-dark text-white">
			Temas
		</div>
		<div class="card-body">
			<div class="card-deck" style="margin-bottom: 1%;">
				{% for tema in temas %}
					<div class="card">
						<div class="card-body">
							{% if user.user_type == 'PROFESSOR' %}
							<a href="{% url 'excluir_tema' tema.pk %}" class="close" aria-label="Excluir tema">&times;</a>
							{% endif %}
							<p class="card-text" style="text-align: center;"><a href="{% url 'tema' tema.pk %}">{{ tema.name }}</a></p>
						</div>
					</div>
			{% if forloop.counter|divisibleby:2 %}
				</div>
				<div class="card-deck" style="margin-bottom: 1%;">
			{% endif %}
				{% empty %}
					<div>
						<p>Nenhum conteúdo disponível...</p>
					</div>
				{% endfor %}

			</div>
		
			{% if user.user_type == 'PROFESSOR' %}
				<a href="{% url 'criar_tema' turma.pk %}" class="btn bg-dark text-white">Novo tema</a>
			{% endif %}
		</div>
	</div>
	{% if user == turma.responsible %}
	<div class="card">
		<div class="card-header bg-dark text-white">
			Matricular aluno
		</div>
		<div class="card-body">
			Selecione um aluno para matriculá-lo nesta turma.
			<form method="POST">
				{% csrf_token %}
				<select class="searchbar chosen" multiple name="alunos">
					<option value=""></option>
					{% for aluno in alunos %} 
					<option value={{aluno.pk}}>"{{aluno.name}} "{{aluno.email}}"</option>
					{% endfor %}
				</select>
				<a href="{% url 'listar_alunos' turma.pk %}">Ver alunos já matriculados</a>
				<input type="submit" value="Matricular" class="btn btn-dark" name="btnmatricula" />
			</form>
		</div>
	</div>
	{% endif %}
	<script type="text/javascript">
		$(".chosen").chosen({
			no_results_text: "Sem resultados para",
    		placeholder_text_single: "Selecione um aluno",
    		placeholder_text_multiple: "Selecione os alunos"
		})
	</script>
{% endblock %}