{% extends "base.html" %}
{% load static %}
{% load version %}
{% block title %}VE COM CALMA QUE NOME POR AQUI{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
{% endblock %}
{% block content %}
	<div class="card">
		<div class="card-header bg-green text-white">
			Turma {{turma}}
		</div>
		<div class="card-body">
			{% if user == turma.responsible %}
			<div>
				<button class="btn bg-blue text-white" id="btn_conteudos">Aulas <img src="{% static 'img/help-xxl.png' %}"title="Todos os temas vinculados à turma {{turma}} estão lostadas aqui" width="16" height="16"></button>
				<button class="btn bg-maroon text-white" id="btn_alunos">Gerenciar Alunos <img src="{% static 'img/help-xxl.png' %}"title="Veja opções de ações relacionadas ao gerenciamento de alunos" width="16" height="16"> </button>
			</div>
			{% endif %}
			<div id="conteudos">
				{% for aula in aulas %}
                <div class="card">
                    {% if user|aula_concluida:aula.pk %}
                    <div class="card-header bg-success text-white">
                    {% else %}
                    <div class="card-header bg-primary text-white">
                    {% endif %}
                        {{ aula.name }}
                        {% if user.user_type == 'PROFESSOR' %}
                            <a href="{% url 'excluir_aula' aula.pk %}" class="close text-white" aria-label="Excluir aula">&times;</a><br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {{ aula.summary }}<br><br>
                        Atualizado pela última vez em {{ aula.updated_at }}<br><br>
                        
                        <div>
                            {% if user|aula_concluida:aula.pk %}
                            <a href="{% url 'aula' aula.pk %}" class="btn btn-success">Compreendendo <img src="{% static 'img/help-xxl.png' %}"title="Aqui você encontrará explicações sobre a parte teórica da aula." width="16" height="16"></a>
                            <a href="{% url 'experimentacoes' aula.pk %}" class="btn btn-success">Experimentando <img src="{% static 'img/help-xxl.png' %}"title="Aqui você verá como utilizar os conceitos aprendidos em situações reais." width="16" height="16"></a>
                            <a href="{% url 'exercicios' aula.pk %}" class="btn btn-success">Praticando <img src="{% static 'img/help-xxl.png' %}"title="Aqui você poderá testar seus conhecimentos e avaliar seu aprendizado." width="16" height="16"></a>
                            {% else %}
                            <a href="{% url 'aula' aula.pk %}" class="btn btn-primary">Compreendendo <img src="{% static 'img/help-xxl.png' %}"title="Aqui você encontrará explicações sobre a parte teórica da aula." width="16" height="16"></a>
                            <a href="{% url 'experimentacoes' aula.pk %}" class="btn btn-primary">Experimentando <img src="{% static 'img/help-xxl.png' %}"title="Aqui você verá como utilizar os conceitos aprendidos em situações reais." width="16" height="16"></a>
                            <a href="{% url 'exercicios' aula.pk %}" class="btn btn-primary">Praticando <img src="{% static 'img/help-xxl.png' %}"title="Aqui você poderá testar seus conhecimentos e avaliar seu aprendizado." width="16" height="16"></a>
                            {% endif %}
                            <br>
                            <br>
                            {% if user.user_type == 'PROFESSOR' and not aula.pk|tem_experimentacao %}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="Fechar">&times;</a>
                                <p>Você ainda não mostrou ao seu aluno como utilizar os conhecimentos dessa aula em aplicações da vida real. Que tal criar uma nova experimentação?</p>
                            </div>
                            {% elif user.user_type == 'ALUNO' and not user|fez_experimentacao:aula.pk %}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="Fechar">&times;</a>
                                <p>Você ainda não viu como utilizar os conhecimentos dessa aula em aplicações da vida real. Que tal realizar uma experimentação?</p>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="card">
                    <div class="card-body">
                        Nenhuma aula disponível...
                    </div>
                </div>
            {% endfor %}
            {% if user.user_type == 'PROFESSOR' %}
                <a href="{% url 'criar_aula' turma.pk %}" class="btn bg-blue text-white">Nova aula</a>
            {% endif %}
			
			</div>
			{% if user == turma.responsible %}
			<div class="card" id="alunos">
				<div class="card-header bg-maroon text-white">
					Selecione um aluno para matriculá-lo nesta turma.
				</div>
				<div class="card-body">
					<form method="POST">
						{% csrf_token %}
						<div class="form-group">
							<select class="chosen searchbar" multiple name="alunos">
								<option value=""></option>
								{% for aluno in alunos %} 
								<option value={{aluno.pk}}>"{{aluno.name}} "{{aluno.email}}"</option>
								{% endfor %}
							</select>
						</div>
						<input type="submit" value="Matricular" class="btn btn-maroon text-white" name="btnmatricula"/><br>
						<a href="{% url 'listar_alunos' turma.pk %}">Ver alunos já matriculados</a>
					</form>
				</div>
			</div>
			{% endif %}
			<br>
			<a href="{% url 'index' %}" class="btn btn-danger">Voltar</a>
		</div>
	</div>
	<script type="text/javascript">
		$(".chosen").chosen({
			no_results_text: "Sem resultados para",
    		placeholder_text_single: "Selecione um aluno",
    		placeholder_text_multiple: "Selecione os alunos"
		})
	</script>
	<script type="text/javascript" src="{% static 'js/turma.js' %}"></script>
{% endblock %}