{% extends "base.html" %}
{% load version %}

{% block title %}Correção do exercício: {{exercise_name}}{% endblock %}

{% block content %}
	<div class="card">
        <div class="card-header bg-dark text-white">
        	Correção do exercício: {{exercise_name}}
        </div>
        <div class="card-body">
            {% for questao in questoes %}
            {% if questao.question_id.quesion_type == 'ABERTA' %}
            <div class="card">
                <div class="card-header bg-dark text-white">
            		{{questao.question_id.text|safe}}
                </div>
                <div class="card-body">
                		Resposta:
                        <div class="form-control">
                            {{questao.student_text|safe}}
                        </div>
                		{% if questao.correction == 'N'%}
                		<div><br>Aindão não corrigido</div>
                		{% else %}
                        Nota:
                		<div class="form-control">
                            {{questao.score}}
                        </div>
                        Comentário:
                		<div class="form-control">
                            {{questao.comment|safe}}
                        </div>
                		{% endif %}
                    </div>
                </div>
                {% endif %}
        	{% empty %}
                Nenhuma questão discursiva
            {% endfor %}

    	</div>
    </div>
{% endblock %}