{% extends "base.html" %}
{% load version %}
{% block title %}Vincular Aula{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
{% endblock %}
{% block content %}
	<div class="card" id="conteudos">
		<div class="card-header bg-dark text-white">
			Vincular Aula
		</div>
		<div class="card-body">
			{% for aula in aulas %}
				<div class="card">
					<div class="card-header bg-dark text-white">
						{{ aula.name }}
					</div>
					<div class="card-body">
						Turma: {{ aula.turma_id.name }}<br>
						Atualizado pela última vez em: {{ aula.updated_at }}<br>
						<br>
						<a href="{% url 'vincular' turma aula.pk %}" class="btn btn-primary">Vincular</a>
					</div>
				</div>
			{% empty %}
				<div>
					Nenhuma aula disponível...
				</div>
				<br>
			{% endfor %}
		</div>
	</div>
{% endblock %}