{% extends "base.html" %}
{% load static %}

{% block title %}Nova aula{% endblock %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h2>Nova aula</h2>
        <form class="pure-form pure-form-aligned" method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}

                {% for field in form %}
                <div class="pure-control-group">
                    {% if field.name != 'tema_id' %}
                        <label for="{{ field.name }}">{{ field.label_tag }}</label>
                    {% endif %}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <b>Observação:</b>
				<p>Para transmissões ao vivo é necessário possuir uma conta no YouTube e pode levar até 24 horas para aprovação.<br>Para mais informações sobre transmissões ao vivo <a href="#">clique aqui.</a></p>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Criar aula</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}