{% extends "base.html" %}
{% load static %}

{% block title %}Nova turma{% endblock %}

{% block content %}
<div class="card">
	<div class="card-header bg-dark text-white">
        <h2>Nova Turma</h2>
    </div>
    <div class="card-body">
        <form  method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="form-group">
                    {% if field.name != 'responsible' %}
                        <label for="{{ field.name }}">{{ field.label_tag }}</label>
                    {% endif %}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Criar turma</button>
                    <a href="{% url 'index' %}" class="btn btn-danger"> Voltar</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}