{% extends "base.html" %}
{% load static %}

{% block title %}Novo tema{% endblock %}

{% block content %}
<div class="card">
	<div class="card-header bg-dark text-white">
        <h2>Novo Tema</h2>
    </div>
    <div class="card-body">
        <form class="pure-form pure-form-aligned" method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}

                {% for field in form %}
                <div class="pure-control-group">
                    {% if field.name != 'turma_id' %}
                        <label for="{{ field.name }}">{{ field.label_tag }}</label>
                    {% endif %}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Criar tema</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}