{% extends "base.html" %}
{% load static %}

{% block title %}Novo tópico{% endblock %}

{% block javascript %}
<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-header bg-dark text-white">
        <h2>Nova Publicação</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}

                {% for field in form %}
                <div class="form-group">
                    {% if field.name != 'class_id' and field.name != 'exercise_id' and field.name != 'experimentation_id' and field.name != 'author' %}
                        <label for="{{ field.name }}">{{ field.label_tag }}</label>
                    {% endif %}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Publicar</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
    CKEDITOR.plugins.addExternal('ckeditor_wiris', 'https://www.wiris.net/demo/plugins/ckeditor/', 'plugin.js');
    CKEDITOR.replace('body', { customConfig: '{% static "ckeditor/custom_config.js" %}'});
</script>
{% endblock %}