{% extends "base.html" %}
{% load static %}

{% block title %}Nova aula{% endblock %}

{% block javascript %}
<script src="https://cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
<style type="text/css">
    textarea{
        width: 100% !important;
        margin: 0px !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-header bg-dark text-white">
        <h2>Nova aula</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}

                {% for field in form %}
                <div class="form-group" id="div-{{ field.name }}">
                    {% if field.name != 'turma_id' %}
                        <label for="{{ field.name }}">{{ field.label_tag }}</label>
                    {% endif %}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                
                <b>Observação:</b>
				<p>Para transmissões ao vivo é necessário possuir uma conta no YouTube e pode levar até 24 horas para aprovação.<br>Para mais informações sobre transmissões ao vivo <a href="{% url 'tutorial' %}" target="_blank">clique aqui.</a></p>
                
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Criar aula</button>
                    <a href="{% url 'turma' turma %}" class="btn btn-danger">Voltar</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
    CKEDITOR.plugins.addExternal('ckeditor_wiris', 'https://www.wiris.net/demo/plugins/ckeditor/', 'plugin.js');
    CKEDITOR.plugins.addExternal('youtube', '{% static "youtube/plugin.js" %}');
    CKEDITOR.replace('text_content', {
          extraPlugins: 'ckeditor_wiris,youtube',
          toolbar: [
            ['Cut', 'Copy', 'Paste', 'PasteText', '-', 'Undo', 'Redo', '-', 'Find', 'Replace', '-', 'SelectAll', 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', '-', 'RemoveFormat', '-', 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'Link', 'Unlink', 'Anchor',  'Image', 'Youtube', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'Iframe', '-', 'TextColor', 'BGColor', 'ckeditor_wiris_formulaEditor','ckeditor_wiris_formulaEditorChemistry','Styles', 'Format', 'Font', 'FontSize']
          ]
        });
</script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
{% endblock %}