{% extends "base.html" %}
{% load static %}

{% block title %}Nova aula{% endblock %}

{% block javascript %}
<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-header bg-dark text-white">
        <h2>Nova aula</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}

                {% for field in form %}
                <div class="form-group" id="div-{{ field.name }}">
                    {% if field.name != 'tema_id' %}
                        <label for="{{ field.name }}">{{ field.label_tag }}</label>
                    {% endif %}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <div class="form-group" id="div-exe">
                    <label for="exe">Vinclular a um Exercício</label>
                    <input type="checkbox" id="exe">
                </div>
                <div class="form-group" id="div-exp">
                    <label for="exe">Vinclular a uma Experimentação</label>
                    <input type="checkbox" id="exp">
                </div>
                <b>Observação:</b>
				<p>Para transmissões ao vivo é necessário possuir uma conta no YouTube e pode levar até 24 horas para aprovação.<br>Para mais informações sobre transmissões ao vivo <a href="#">clique aqui.</a></p>
                
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Criar aula</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
    CKEDITOR.plugins.addExternal('ckeditor_wiris', 'https://www.wiris.net/demo/plugins/ckeditor/', 'plugin.js');
    CKEDITOR.replace('text_content', { customConfig: '{% static "ckeditor/custom_config.js" %}'});
</script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
{% endblock %}