{% extends "user/usuario.html" %}

{% block title %}Editar usuário: {{user}}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li>&nbsp;/&nbsp;</li>
    <li><a href="{% url 'editar_usuario' %}">Editar Conta</a></li>
{% endblock %}

{% block dashboard_content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        {{ form.non_field_errors }}
        {% for field in form %}
        {% if user.user_type == 'ALUNO' or field.name != 'grade' %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endif %}
        {% endfor %}
        <div class="pure-controls">
            <button type="submit" class="btn btn-primary">Salvar Modificações</button>
        </div>
    </fieldset>
</form>
{% endblock %}