{% extends "user/usuario.html" %}

{% block title %}Editar usuário: {{user.username}}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li>&nbsp;/&nbsp;</li>
    <li><a href="{% url 'editar_senha' %}">Editar Senha</a></li>
{% endblock %}

{% block dashboard_content %}
<form class="pure-form pure-form-stacked" method="post">
    {% csrf_token %}
    {% if success %}
    <p>A senha foi alterada com sucesso</p>
    {% endif %}
    <fieldset>
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="pure-controls">
            <button type="submit" class="btn btn-primary">Salvar Modificações</button>
        </div>
    </fieldset>
</form>
{% endblock %}