{% extends "user/usuario.html" %}

{% load static %}

{% block title %}Editar usuário: {{user}}{% endblock %}

{% block dashboard_content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        {{ form.non_field_errors }}
        {% for field in form %}
        {% if user.user_type == 'ALUNO' or field.name != 'grade' %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endif %}
        {% endfor %}
        <div class="pure-controls">
            <button type="submit" class="btn btn-primary">Salvar Modificações</button>
            <a href="{% url 'usuario' user.pk %}" class="btn btn-danger">Voltar</a>
        </div>
    </fieldset>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script type="text/javascript" src="{% static 'js/cadastrar.js' %}"></script>
{% endblock %}